body {
    background: #defcf9;
    font-family: "Roboto", sans-serif;
}

a {
    color: #cca8e9;
}
.weather-app {
   background:white; 
   max-width: 600px;
   margin: 45px auto;
   padding: 30px;
   box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
   border-radius: 16px;
}

header {
    border-bottom: 1px solid #defcf9;
    padding: 0 0 30px 0;
}
.search-form-input {
background: #cadefc;
border: none;
color: white;
border-radius: 6px;
width: 80%;
font-size: 16px;
padding: 15px 20px;
}

.search-form-button { 
background: #c3bef0;
color: white;
border: none;
border-radius: 6px;
padding: 15px 30px;
margin-left: 5px;
font-size: 16px;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 30px 0;   
}

.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;

}

.weather-app-details {
    font-size: 20px;
    line-height: 20px;
    color: rgba(39,33,66,0.4);
    font-weight: 500;
}

.weather-app-details strong {
    color: #cca8e9;
}

.weather-app-temperature-container {
    display: flex;
}

.weather-app-temperature {
    font-size: 88px;
    font-weight: bold;
    line-height:88px;
}

.weather-app-icon {
    width: 88px;
    height: 88px;
    margin-top: 22px;
}

.weather-app-unit {
    margin-top: 6px;
    font-size: 28px;
}


.weather-forecast {
    margin-top: 20px;
    justify-content: space-around;
    display: flex;
}

.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
    line-height: 20px;
        margin-bottom: 10px;
        text-align: center;
 
}

.weather-forecast-icon {
    font-size: 38px;
    text-align: center;
}

.weather-forecast-temperature {
    font-size: 13px;
    padding: 0 10px;
}

.weather-forecast-temperatures {
    text-align: center;
    color: #cca8e9;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

footer {
    border-bottom: 1px solid #defcf9;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: rgba (0,0,0,0.6);
}